.text-red {
	color: red;
}

.text-gren {
	color: green;
}

.text-yellow {
	color: yellow;
}
span {
	color: rebeccapurple;
}
span .blye {
	color: blue;
}
img {
	width: 100;
	height: 100;
}
